@inject NavigationManager NavigationManager

@* redireciona automaticamente para o login caso o usuario nao esteja autenticado *@
<h3>Redirecionando para o login...</h3>

@code
{
    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("/login");
    }
}
