<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" alt="DimaMine" width="100">
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/lancamentos/historico">Histórico</MudNavLink>
    <MudNavLink Href="/categorias">Categorias</MudNavLink>
    <MudNavLink Href="/premium">Premium</MudNavLink>
    <MudNavLink Href="/sair">Sair</MudNavLink>
</MudNavMenu>