@page "/sair"
@inherits LogoutPage
@layout HeadlessLayout

<PageTitle>Dima - Sair</PageTitle>

<MudText Typo="Typo.h3">Finalizando sessão ...</MudText>
    <MudPaper Class="pa-8 mt-4">
    <div class="d-flex justify-center pb-8 pt-8" >
        <img src="imgs/logo.png" alt="Dima" width="200">
    </div>
    <MudAlert Severity="Severity.Info">
        Sessão Finalizada ...
        <MudButton Variant="Variant.Text" Href="/">
            Ir para tela de login
        </MudButton>
    </MudAlert>
</MudPaper>